.appName{
  padding-top: 30px;
  font-size: 50px;
  text-align: center;
}

.typeForm{
  padding: 10px;
  flex-direction: column;
  justify-content: space-around;
}

.page{
  align-items: center;
  justify-content: center;
  align-content: center;
}
